form.settings textarea{
    width:600px;
    height:600px;
    display:block
}
form.settings input{
    width:600px;
    display:block;
}
#logs{
	width:100%;
	height:400px;
	font-size:10px;
	font-family: "Courier New", Courier, monospace;
	background-color:black;
	color:white;
        overflow-y:scroll;
        line-height: 13px;
}

#faces_container {
    overflow-x:scroll;
}

#faces {
    white-space:nowrap;
}

#faces img{
  width: auto;
  max-width: 50px;
  height: auto;
  max-height: 50px;
}

.frames {
	height:200px;
	margin:10px 0;
}

.frame {
	margin-left:10px;
	float:left;
        height:200px;
}

.frame img{
	max-width:100%; 
	max-height:100%;
}
